In [138]:
import pandas as pd
import numpy as np
import plotly.plotly as py
import plotly.graph_objs as go

In [46]:
#GET DATA:
PATH="./Input/country_population.csv"
def get_data(path):
    df=pd.read_csv(path,",")
    return df

In [121]:
#CLEAN DATA:
def clean_data(df):
    col_drop=["Indicator Name","Indicator Code"]
    count_drop=[
        "Arab World",
        "Central Europe and the Baltics",
        "Caribbean small states",
        "East Asia & Pacific (excluding high income)",
        "Early-demographic dividend",
        'East Asia & Pacific',
        'Europe & Central Asia (excluding high income)',
        'Europe & Central Asia',
        'Euro area',
        'European Union',
        'Fragile and conflict affected situations',
        'High income',
        'Heavily indebted poor countries (HIPC)',
        'IBRD only',
        'IDA & IBRD total',
        'IDA total',
        'IDA blend',
        'IDA only',
        'Not classified',
        'Latin America & Caribbean (excluding high income)',
        'Latin America & Caribbean',
        'Least developed countries: UN classification',
        'Low income',
        'Lower middle income',
        'Low & middle income',
        'Late-demographic dividend',
        'Middle East & North Africa',
        'Middle income',
        'Middle East & North Africa (excluding high income)',
        'North America',
        'OECD members',
        'Other small states',
        'Pre-demographic dividend',
        'West Bank and Gaza',
        'Pacific island small states',
        'Post-demographic dividend',
        'South Asia',
        'Sub-Saharan Africa (excluding high income)',
        'Sub-Saharan Africa',
        'Small states'
        'East Asia & Pacific (IDA & IBRD countries)',
        'Europe & Central Asia (IDA & IBRD countries)',
        'Latin America & the Caribbean (IDA & IBRD countries)',
        'Middle East & North Africa (IDA & IBRD countries)',
        'South Asia (IDA & IBRD)',
        'Sub-Saharan Africa (IDA & IBRD countries)',
        'Upper middle income']
    cdf=df.copy()
    cdf=cdf.drop(col_drop, axis=1)
    bad_countries=cdf[cdf["Country Name"].isin(count_drop)].index
    cdf=cdf.drop(bad_countries,axis=0,)
    cdf=cdf.fillna(0)
    return cdf

In [98]:
#FILTER DATA:
def filter_data(df,country="World",desde=2006,hasta=2016):
    lista_años_st=list(map(str,list(range(desde,hasta+1))))
    lista_total=["Country Name","Country Code"]+lista_años_st
    fdf=df[df["Country Name"].str.contains(country.title())][lista_total]
    
    return fdf

In [137]:
df=get_data(PATH)
cdf=clean_data(df)
fdf=filter_data(cdf,"spain")

,Country Name,Country Code,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
68,Spain,ESP,44397319.0,45226803.0,45954106.0,46362946.0,46576897.0,46742697.0,46773055.0,46620045.0,46480882.0,46444832.0,46484533.0