In [12]:
import pandas as pd
import numpy as np

In [46]:
#GET DATA:
PATH="./Input/country_population.csv"
def get_data(path):
    df=pd.read_csv(path,",")
    return df

In [69]:
#FILTER DATA:
def filter_data(df,country="World",desde=2006,hasta=2016):
    lista_años_st=list(map(str,list(range(desde,hasta+1))))
    lista_total=["Country Name","Country Code"]+lista_años_st
    fdf=df[df["Country Name"].str.contains(country.title())][lista_total]
    return fdf

In [78]:
df=get_data(PATH)
fdf=filter_data(df,"egypt")
fdf

,Country Name,Country Code,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
65,"Egypt, Arab Rep.",EGY,78159048.0,79537253.0,80953881.0,82465022.0,84107606.0,85897561.0,87813257.0,89807433.0,91812566.0,93778172.0,95688681.0

In [ ]:
#CLEAN DATA:
def