In [145]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [46]:
#GET DATA:
PATH="./Input/country_population.csv"
def get_data(path):
    df=pd.read_csv(path,",")
    return df

In [371]:
#CLEAN DATA:
def clean_data(df):
    col_drop=["Indicator Name","Indicator Code"]
    count_drop=[
        "Arab World",
        "Central Europe and the Baltics",
        "Caribbean small states",
        "East Asia & Pacific (excluding high income)",
        "Early-demographic dividend",
        'East Asia & Pacific',
        'Europe & Central Asia (excluding high income)',
        'Europe & Central Asia',
        'Euro area',
        'European Union',
        'Fragile and conflict affected situations',
        'High income',
        'Heavily indebted poor countries (HIPC)',
        'IBRD only',
        'IDA & IBRD total',
        'IDA total',
        'IDA blend',
        'IDA only',
        'Not classified',
        'Latin America & Caribbean (excluding high income)',
        'Latin America & Caribbean',
        'Least developed countries: UN classification',
        'Low income',
        'Lower middle income',
        'Low & middle income',
        'Late-demographic dividend',
        'Middle East & North Africa',
        'Middle income',
        'Middle East & North Africa (excluding high income)',
        'North America',
        'OECD members',
        'Other small states',
        'Pre-demographic dividend',
        'West Bank and Gaza',
        'Pacific island small states',
        'Post-demographic dividend',
        'South Asia',
        'Sub-Saharan Africa (excluding high income)',
        'Sub-Saharan Africa',
        'Small states',
        'East Asia & Pacific (IDA & IBRD countries)',
        'Europe & Central Asia (IDA & IBRD countries)',
        'Latin America & the Caribbean (IDA & IBRD countries)',
        'Middle East & North Africa (IDA & IBRD countries)',
        'South Asia (IDA & IBRD)',
        'Sub-Saharan Africa (IDA & IBRD countries)',
        'Upper middle income']
    cdf=df.copy()
    cdf=cdf.drop(col_drop, axis=1)
    bad_countries=cdf[cdf["Country Name"].isin(count_drop)==True].index
    cdf=cdf.drop(bad_countries,axis=0)
    cdf["Country Name"] = cdf["Country Name"].apply(lambda x: " ".join(x.split(",")[::-1]) if x in ["Congo, Dem. Rep.","Congo, Rep.","Korea, Rep.","Korea, Dem. People’s Rep."] else x)
    cdf["Country Name"] = cdf["Country Name"].apply(lambda x: x.split(",")[0])
    cdf=cdf.fillna(0)
    cdf["Country Name"] = cdf["Country Name"].apply(lambda x: x.upper().strip())
    return cdf

In [372]:
#FILTER AND FIX DATA:
def filter_data(df,country="WORLD",desde=2006,hasta=2016):
    lista_años_st=list(map(str,list(range(desde,hasta+1))))
    lista_total=["Country Name","Country Code"]+lista_años_st
    fdf=df[df["Country Name"]==(country.upper())][lista_total]
    return fdf

def fix_data(df):
    melt=pd.melt(df, id_vars=["Country Name","Country Code"], value_vars=fdf.columns[3:],var_name="Year",value_name="Population")
    melt=melt.sort_values(by=["Country Name", "Year"])
    return melt

In [373]:
#ANALYSE DATA:

def plot_population(df):
    plt.plot(df.groupby(["Year"]).sum()["Population"]/1000000, c='blue')
    plt.legend(loc=1)
    plt.title('Population by year')
    plt.xlabel('Year')
    plt.ylabel('Population (Millions)')
    plt.savefig('./Output/population.png')

In [383]:
data=get_data(PATH)
clean=clean_data(data)
filt=filter_data(clean)
fix=fix_data(filt)

test=pd.DataFrame()
test=fix.copy()
lista=[]
lista.append(0)
for i in range(1,len(fix["Population"])):
    lista.append(((fix["Population"][i]/fix["Population"][i-1])-1)*100)
test["gr"]=np.array(lista)
test

  Country Name Country Code  Year    Population        gr
0        WORLD          WLD  2007  6.683228e+09  0.000000
1        WORLD          WLD  2008  6.766303e+09  1.243026
2        WORLD          WLD  2009  6.849573e+09  1.230668
3        WORLD          WLD  2010  6.932881e+09  1.216246
4        WORLD          WLD  2011  7.014999e+09  1.184470
5        WORLD          WLD  2012  7.099549e+09  1.205276
6        WORLD          WLD  2013  7.185078e+09  1.204717
7        WORLD          WLD  2014  7.271228e+09  1.199008
8        WORLD          WLD  2015  7.357370e+09  1.184693
9        WORLD          WLD  2016  7.444027e+09  1.177832